/test
/t-poly
/t-io
/t-conv
/evaltest
/t-conv
/gen-slp
/slp2poly
/mpiequality
/poss_slps
/rand_slp
/randmultiSLP
/test-rms
/enumSetsOutputs
/enum_sets
/formula_slp_compare
/phasedmultiSLP
/phasedrand
/wwwrank-*:number-*
